<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<!--[if lte IE 9 ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>多WAN负载</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" href="../../css/font-awesome-ie7.min.css"><![endif]-->
<link rel="stylesheet" href="../../css/manage.css" />
<style>
.label-wan {
	margin-left: 20px;
}
.wan1,
.wan2,
.wan3 {
	display: none;
}
</style>
<script src="../../js/lib/jquery-1.11.3.min.js"></script>
<script src="../../js/lib/jquery.cookie.js"></script>
<script src="../../js/lib/json2.js"></script>
<script src="../../js/lib/bootstrap.min.js"></script>
<script src="../../js/common/jquery.ext.verify.js"></script>
<script src="../../js/common/common.js"></script>
<script src="../../js/admin_network/mwan.js"></script>
</head>
<body>
<!-- header -->
<div id="header_ajax"></div>
<script src="../../js/common/header.ajax.js"></script>

<!-- main Start -->
<div id="main" class="main">
	<div class="container-fluid">
		<div class="main-wrapper clearfix">
			<div class="main-top">
				<span class="title"><i class="icon-align-justify"></i> WAN口带宽</span>
			</div>
			<form class="form-horizontal">
				<div class="form-group clearfix wan0">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label" for="lan0__ipaddr">启用WAN0</label>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" class="enable" value="1 0" checked />
							</span>
							<input type="text" id="wan0" class="form-control" verify="num 1 1000" />
						</div>
					</div>
					<div class="col-md-7 col-sm-5 col-xs-3 tip-icons">
						<span class="units">Mbps</span>
						<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~1000。请填写网络带宽。"><i class="icon-question-sign"></i></span>
					</div>
				</div>
				<div class="form-group clearfix wan1">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label" for="lan0__netmask">启用WAN1</label>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" class="enable" value="1 0" checked />
							</span>
							<input type="text" id="wan1" class="form-control" verify="num 1 1000" />
						</div>
					</div>
					<div class="col-md-7 col-sm-5 col-xs-3 tip-icons">
						<span class="units">Mbps</span>
					</div>
				</div>
				<div class="form-group clearfix wan2">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label" for="lan0__netmask">启用WAN2</label>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" class="enable" value="1 0" checked />
							</span>
							<input type="text" id="wan2" class="form-control" verify="num 1 1000" />
						</div>
					</div>
					<div class="col-md-7 col-sm-5 col-xs-3 tip-icons">
						<span class="units">Mbps</span>
					</div>
				</div>
				<div class="form-group clearfix wan3">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label" for="lan0__netmask">启用WAN3</label>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox" class="enable" value="1 0" checked />
							</span>
							<input type="text" id="wan3" class="form-control" verify="num 1 1000" />
						</div>
					</div>
					<div class="col-md-7 col-sm-5 col-xs-3 tip-icons">
						<span class="units">Mbps</span>
					</div>
				</div>
			</form>
		</div>

		<div class="main-wrapper clearfix">
			<div class="main-top">
				<span class="title"><i class="icon-align-justify"></i> 负载策略</span>
			</div>
			<form class="form-horizontal">
				<div class="form-group clearfix">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label">策略配置</label>
					<div class="col-md-10 col-sm-9 col-xs-8">
						<div class="radio">
							<label><input type="radio" name="rule" checked="checked" value="average" />平均分配</label>
						</div>
						<div class="radio" style="padding-top:18px;">
							<label><input type="radio" name="rule" value="backup" />线路备份</label>
						</div>
						<div class="radio onradio">
							<div class="radio" style="padding-left:20px;">
								<span>　主线路</span>
								<label class="label-wan wan0"><input type="radio" name="wan0" value="1" disabled checked />WAN0</label>
								<label class="label-wan wan1"><input type="radio" name="wan1" value="1" disabled />WAN1</label>
								<label class="label-wan wan2"><input type="radio" name="wan2" value="1" disabled />WAN2</label>
								<label class="label-wan wan3"><input type="radio" name="wan3" value="1" disabled />WAN3</label>
							</div>
							<div class="radio" style="padding-left:20px;">
								<span>备份线路</span>
								<label class="label-wan wan0"><input type="radio" name="wan0" value="2" disabled />WAN0</label>
								<label class="label-wan wan1"><input type="radio" name="wan1" value="2" disabled checked />WAN1</label>
								<label class="label-wan wan2"><input type="radio" name="wan2" value="2" disabled checked />WAN2</label>
								<label class="label-wan wan3"><input type="radio" name="wan3" value="2" disabled checked />WAN3</label>
							</div>
						</div>
					</div>
				</div>
				
			</form>
		</div>

		<div class="main-wrapper clearfix" style="padding:10px 20px">
			<div class="btn-group">
				<a class="btn btn-zx submit"><i class="icon-save"></i>保存</a>
			</div>
		</div>
	</div>
</div>
<!-- main End -->

<!-- 提示 -->
<div id="modal_tips" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<div class="modal-p">
					<span></span>
				</div>
			</div>
			<div class="modal-footer">
				<span></span>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-zx btn-modal">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- spin -->
<div id="modal_spin" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<i class="icon-spin icon-spinner icon-4x"></i>
				<p>Loading...</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>