<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<!--[if lte IE 9 ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>静态路由</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" href="../../css/font-awesome-ie7.min.css"><![endif]-->
<link rel="stylesheet" href="../../css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../../css/manage.css" />
<script src="../../js/lib/jquery-1.11.3.min.js"></script>
<script src="../../js/lib/jquery.cookie.js"></script>
<script src="../../js/lib/json2.js"></script>
<script src="../../js/lib/bootstrap.min.js"></script>
<script src="../../js/lib/jquery.dataTables.min.js"></script>
<script src="../../js/common/jquery.ext.verify.js"></script>
<script src="../../js/common/common.js"></script>
<script src="../../js/admin_network/staroutes.js"></script>
</head>
<body>
<!-- header -->
<div id="header_ajax"></div>
<script src="../../js/common/header.ajax.js"></script>

<!-- main Start -->
<div id="main" class="main">
	<div class="container-fluid">
		<div class="main-wrapper clearfix">
			<table id="table_staroutes" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>序号</th>
						<th>接口</th>
						<th>对象</th>
						<th>子网掩码</th>
						<th>网关</th>
						<th>跃点数</th>
						<th>MTU</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="8"></td>
					</tr>
				</tbody>
			</table>
			<div class="btn-group">
				<a class="btn btn-default add"><i class="icon-plus"></i>添加</a>
			</div>
		</div>
	</div>
</div>
<!-- main End -->

<div id="modal_edit" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">配置路由表</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<fieldset>
						<legend>基本参数</legend>
						<div class="form-group clearfix">
							<label class="col-xs-4 control-label" for="interface">接口</label>
							<div class="col-xs-5">
								<select id="interface" class="form-control">
									<option value="wan0">wan0</option>
									<option value="lan0">lan0</option>
								</select>
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="col-xs-4 control-label" for="target">对象</label>
							<div class="col-xs-5">
								<input type="text" id="target" class="form-control" verify="ip" />
							</div>
							<div class="col-xs-3 tip-icons">
								<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="主机IP或网络。"><i class="icon-question-sign"></i></span>
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="col-xs-4 control-label" for="netmask">子网掩码</label>
							<div class="col-xs-5">
								<input type="text" id="netmask" class="form-control" verify="mask" />
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="col-xs-4 control-label" for="gateway">网关</label>
							<div class="col-xs-5">
								<input type="text" id="gateway" class="form-control" verify="ip" />
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="col-xs-4 control-label" for="metric">跃点数</label>
							<div class="col-xs-5">
								<input type="text" id="metric" class="form-control" maxlength="5" verify="numsp 1 255" />
							</div>
							<div class="col-xs-3 tip-icons">
								<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~255。跃点数越小优先级越高。"><i class="icon-question-sign"></i></span>
							</div>
						</div>
						<div class="form-group clearfix">
							<label class="col-xs-4 control-label" for="mtu">MTU</label>
							<div class="col-xs-5">
								<input type="text" id="mtu" class="form-control" maxlength="9" verify="numsp 1 1500" />
							</div>
							<div class="col-xs-3 tip-icons">
								<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~1500。"><i class="icon-question-sign"></i></span>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<div class="pull-right">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-zx" onclick="DoSave();">保存</button>
				</div>
				<div class="tip"></div>
			</div>
		</div>
	</div>
</div>

<!-- 提示 -->
<div id="modal_tips" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<div class="modal-p">
					<span></span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-zx btn-modal">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- spin -->
<div id="modal_spin" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<i class="icon-spin icon-spinner icon-4x"></i>
				<p>Loading...</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>