<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<!--[if lte IE 9 ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>备份/升级</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" href="../../css/font-awesome-ie7.min.css"><![endif]-->
<link rel="stylesheet" href="../../css/manage.css" />
<script src="../../js/lib/jquery-1.11.3.min.js"></script>
<script src="../../js/lib/jquery.cookie.js"></script>
<script src="../../js/lib/jquery.form.js"></script>
<script src="../../js/lib/json2.js"></script>
<script src="../../js/lib/bootstrap.min.js"></script>
<script src="../../js/common/jquery.ext.verify.js"></script>
<script src="../../js/common/common.js"></script>
<script src="../../js/admin_system/flashops.js"></script>
</head>
<body>
<!-- header -->
<div id="header_ajax"></div>
<script src="../../js/common/header.ajax.js"></script>

<!-- main Start -->
<div id="main" class="main">
	<div class="container-fluid">
		<div class="main-wrapper clearfix">
			<div class="main-top">
				<span class="title"><i class="icon-align-justify"></i> 备份/恢复</span>
			</div>
			<form id="backup" class="form-horizontal" enctype="multipart/form-data">
				<div class="form-group clearfix">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label">下载备份配置</label>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<a class="btn btn-zx download"><i class="icon-download-alt"></i> 生成备份</a>
						<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="下载备份当前系统配置文件。"><i class="icon-question-sign"></i></span>
					</div>
				</div>
				<div class="form-group clearfix">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label">恢复出厂配置</label>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<a class="btn btn-warning reset"><i class="icon-warning-sign"></i> 执行复位</a>
						<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="重置当前系统配置文件。"><i class="icon-question-sign"></i></span>
					</div>
				</div>
				<div class="form-group clearfix">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label">上传恢复配置</label>
					<div class="col-md-4 col-sm-5 col-xs-6">
						<div class="input-group">
							<!-- <input type="hidden" name="typekey" value="uploadaaa" /> -->
							<input id="UploadBackup" name="UploadBackup" type="file" class="form-control file" verify="upload tgz" value="" />
							<span class="input-group-btn">
								<a class="btn btn-zx upload"><i class="icon-upload-alt"></i> 上传备份</a>
							</span>
						</div>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-2 tip-icons">
						<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="请选择后缀名为 .tgz 格式的文件。"><i class="icon-question-sign"></i></span>
					</div>
				</div>
			</form>
		</div>
		
		<div class="main-wrapper clearfix">
			<div class="main-top">
				<span class="title"><i class="icon-align-justify"></i> 刷写新的固件</span>
			</div>
			<form id="brush" class="form-horizontal">
				<div class="form-group clearfix">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label" for="keep">保留配置</label>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<div class="checkbox">
							<label><input type="checkbox" id="keep" checked value="1 0" /></label>
						</div>
					</div>
				</div>
				<div class="form-group clearfix">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label">本地固件文件</label>
					<div class="col-md-4 col-sm-5 col-xs-6">
						<div class="input-group">
							<input id="UploadBrush" name="UploadBrush" type="file" class="form-control file" value="" verify="notspace" />
							<span class="input-group-btn">
								<a class="btn btn-zx brush"><i class="icon-refresh"></i> 刷写固件</a>
							</span>
						</div>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-2 tip-icons">
						<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="上传固件，进行本地升级。"><i class="icon-question-sign"></i></span>
					</div>
				</div>
			</form>
		</div>
		
		<div class="main-wrapper clearfix">
			<div class="main-top">
				<span class="title"><i class="icon-align-justify"></i> 在线升级</span>
			</div>
			<form id="brush" class="form-horizontal">
				<div class="form-group clearfix">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label">版本检测</label>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<a class="btn btn-zx checkver"><i class="icon-search"></i> 检测新版本</a>
						<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="在线检测是否拥有新的固件文件。"><i class="icon-question-sign"></i></span>
					</div>
				</div>
				<div class="form-group clearfix ononline" style="color:#d9534f;display:none;">
					<label class="col-md-2 col-sm-3 col-xs-4 control-label">最新固件</label>
					<div class="col-md-10 col-sm-9 col-xs-8">
						<span class="ospan" style="padding-right:15px;line-height:32px"></span>
						<a class="btn btn-danger onlineup"><i class="icon-refresh"></i> 开始在线升级</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- 提示 -->
<div id="modal_tips" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<div class="modal-p">
					<span></span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-zx btn-modal">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- spin -->
<div id="modal_spin" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<i class="icon-spin icon-spinner icon-4x"></i>
				<p>Loading...</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
