.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/add.gif') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-copy{
	background:url('icons/copy.jpg') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/delete.gif') no-repeat;
}
.icon-cancel-disabled{
	background:url('icons/delete_2.gif') no-repeat -1px 0;
}

.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-tip{
	cursor: help;
	width: 20px;
	display: inline-block;
	height:20px;
	background:url('icons/tip.png') no-repeat;
	position: relative;
	top: 6px;
}

.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-rowup{
	background:url('default/images/accordion_collapse.png') no-repeat;
}
.icon-rowdown{
	background:url('default/images/accordion_expand.png') no-repeat;
}
.icon-gray-rowup{
	background:url('default/images/accordion_arrows.png') no-repeat -1px 0px ;
}
.icon-gray-rowdown{
	background:url('default/images/accordion_arrows.png') no-repeat -16px -1px;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}
.icon-refresh{
	background:url(../../images/refresh.gif) no-repeat;
}
.icon-info{
	background:url('icons/BSNC7FRU9NWQDJ3I)Q1LDF0.jpg') no-repeat 0 -2px;
}
.icon-rbtdevice,.icon-rbtsys,.icon-off{
	width:160px;
	height:60px;
	float:left;
	margin-right:20px;
	display:inline-block;
	cursor:pointer;
}

.icon-rbtdevice{
	background:url(default/images/%E9%87%8D%E5%90%AF%E8%AE%BE%E5%A4%87.png) no-repeat;
}
.icon-rbtdevice:hover{
	background:url(default/images/Dimg.png);
}
.icon-rbtsys{
	background:url(default/images/%E9%87%8D%E5%90%AF%E6%9C%8D%E5%8A%A12.png) no-repeat;
}
.icon-rbtsys:hover{
	background:url(default/images/%E9%87%8D%E5%90%AF%E6%9C%8D%E5%8A%A1.png);
}
.icon-off{
	background:url(default/images/%E5%85%B3%E6%9C%BA2.png);
}
.icon-off:hover{
	background:url(default/images/%E5%85%B3%E6%9C%BA.png);
}

.icon-eth-on{
	background:url(../../images/eth_on.gif) no-repeat center;
}

.icon-eth-off{
	background:url(../../images/eth_off.gif) no-repeat center;
}

.icon-style{
	width:20px;
	height:20px;
	display:inline-block;
	cursor:help;
	position: relative;
	top: 5px;
}


