config defaults
	list bypass_http_host 'example.com'
	list bypass_http_host 'domain.com'
	list bypass_dst_ip '114.114.114.114'
	list bypass_dst_ip '1.1.1.1'
	option no_flow_timeout '3600'
	option redirect_ip '1.0.0.8'

config rule
	option disabled '1'
	option name 'example web 1'
	option desc 'example web auth'
	option type 'web'
	option id '3'
	option szone '5'
	option sipgrp '5'
	list bypass_src_ip '192.168.56.1'
	list bypass_src_mac 'AA:BB:CC:DD:EE:FF'

config rule
	option disabled '1'
	option name 'example auto 1'
	option desc 'example auto auth'
	option type 'auto'
	option id '0'
	option szone '1'
	option sipgrp '1'
