<!--[if lte IE 7]> <style>.header-ie-top {display: block;}</style> <![endif]-->
<div class="header-ie-top">
	<p>您所用的浏览器版本过低，或者正在使用兼容模式。请更换高版本浏览器或退出兼容模式。</p>
</div>
<!-- header sidebar Start -->
<header>
	<div class="header-top">
		<h1></h1>
		<a href="javascript:;" class="sign_out icon-off">
			<br>
			<span>退出系统</span>
		</a>
	</div>
	<div class="sidebar">
		<div class="fill">
			<div class="fill-s">
				<div class="heading-title">设备管理平台</div>
				<ul class="nav">
					<li class="dropdown">
						<a class="menu" href="javascript:;"><img class="icon" src="../../images/header-icon-01.png" />状态</a>
						<ul class="dropdown-menu">
							<li><a href="/view/admin_status/index.html"><i></i>总览</a></li>
							<li><a href="/view/admin_status/dhcplease.html"><i></i>DHCP列表</a></li>
							<li><a href="/view/admin_status/onlineuserlist.html"><i></i>在线用户</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-02" href="javascript:;"><img class="icon" src="../../images/header-icon-02.png" />网络设置</a>
						<ul class="dropdown-menu">
							<li><a href="/view/admin_network/network.html"><i></i>网络设置</a></li>
							<li><a href="/view/admin_network/ipgroup.html"><i></i>IP组设置</a></li>
							<li><a href="/view/admin_network/staroutes.html"><i></i>静态路由</a></li>
							<li><a href="/view/admin_network/dnat.html"><i></i>端口映射</a></li>
							<li><a href="/view/admin_network/diagnostics.html"><i></i>网络诊断</a></li>
							<li><a href="/view/admin_network/mwan.html"><i></i>多WAN负载</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-04" href="javascript:;"><img class="icon" src="../../images/header-icon-04.png" />无线管理</a>
						<ul class="dropdown-menu">
							<li><a href="/view/admin_wireless/wlanconfig.html"><i></i>WLAN管理</a></li>
							<li><a href="/view/admin_wireless/radioconfig.html"><i></i>Radio配置</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-03" href="javascript:;"><img class="icon" src="../../images/header-icon-03.png" />用户认证</a>
						<ul class="dropdown-menu">
							<li><a href="/view/admin_webauth/authpolicy.html"><i></i>新用户认证方式</a></li>
							<li><a href="/view/admin_webauth/groupuser.html"><i></i>用户管理</a></li>
							<li><a href="/view/admin_webauth/account.html"><i></i>云端管理</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-09" href="javascript:;"><img class="icon" src="../../images/header-icon-09.png" />应用控制</a>
						<ul class="dropdown-menu">
							<li><a href="/view/admin_control/timegroup.html"><i></i>时间组设置</a></li>
							<li><a href="/view/admin_control/acrule.html"><i></i>应用控制</a></li>
							<li><a href="/view/admin_control/ctrllog.html"><i></i>控制日志</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-05" href="javascript:;"><img class="icon" src="../../images/header-icon-05.png" />流量控制</a>
						<ul class="dropdown-menu">
							<li><a href="/view/admin_flowctrl/flowctrl.html"><i></i>流量控制</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="menu icon-07" href="javascript:;"><img class="icon" src="../../images/header-icon-07.png" />系统</a>
						<ul class="dropdown-menu">
							<li><a href="/view/admin_system/system.html"><i></i>系统</a></li>
							<li><a href="/view/admin_system/password.html"><i></i>密码修改</a></li>
							<li><a href="/view/admin_system/flashops.html"><i></i>备份/升级</a></li>
							<li><a href="/view/admin_system/reboot.html"><i></i>重启</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>

<script type="text/javascript">
$("header ul.dropdown-menu li a").each(function(index, element) {
	var httpUrl = window.location.href;
	if (httpUrl.indexOf($(element).attr("href")) > -1) {
		$(".header-top h1").html($(element).html());
		$(element).parent("li").addClass("li-curror").closest(".dropdown").addClass("curror");
		$(element).closest("ul.dropdown-menu").show();
		return false;
	}
});

$("header ul.nav").on("click", "li.dropdown a.menu", function() {
	if ($(this).siblings("ul.dropdown-menu").is(":animated")) return;
	if (!($(this).parent().hasClass("curror"))) {
		$(this).siblings("ul.dropdown-menu").slideDown()
			   .parent().addClass("curror")
			   .siblings("li.dropdown").removeClass("curror")
			   .find("ul.dropdown-menu").slideUp();
	} else {
		$("header li.dropdown").removeClass("curror");
		$("header ul.dropdown-menu").slideUp();
	}
});

$("header ul.nav").on("click", "ul.dropdown-menu li", function() {
	$(".nav .dropdown li.li-curror").removeClass("li-curror");
	$(this).addClass("li-curror");
});

$(".sign_out").on("click", function() {
	$.cookie('token', '', {expires: -1, path: "/"});
	window.location.href = "/view/admin_login/login.html";
});

$(function() {
	var footer = '<div class="footer">Copyright © 2016 YXA10015907</div>'
	$("body > .main").append(footer);
	//var loginid = $.cookie("loginid")
	//ucicall("UpdateLoginTime", loginid, function(){});
})
</script>
<!-- header sidebar End -->
