<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<!--[if lte IE 9 ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>AP管理</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" href="../../css/font-awesome-ie7.min.css"><![endif]-->
<link rel="stylesheet" href="../../css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../../css/manage.css" />
<script src="../../js/black/jquery-1.11.3.min.js"></script>
<script src="../../js/black/jquery.cookie.js"></script>
<script src="../../js/black/json2.js"></script>
<script src="../../js/black/bootstrap.min.js"></script>
<script src="../../js/black/jquery.dataTables.min.js"></script>
<script src="../../js/jquery.ext.verify.js"></script>
<script src="../../js/commin.js"></script>
<script src="../../js/countryChannel.js"></script>
<script src="../../js/apstatus.js"></script>

</head>
<body>
<!-- header -->
<div id="header_ajax"></div>
<script src="../../js/black/header.ajax.js"></script>

<!-- main Start -->
<div id="main" class="main">
	<div class="container-fluid">
		<div class="main-wrapper clearfix">
			<table id="table_apstaus" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>序号</th>
						<th>AP</th>
						<th>描述</th>
						<th>IP地址</th>
						<th>当前用户数</th>
						<th>Radio</th>
						<th>邻居AP数</th>
						<th>运行时间</th>
						<th>上线时间</th>
						<th>固件版本</th>
						<th>状态</th>
						<th>操作</th>
						<th data-toggle="tooltip" data-container="body" data-trigger="hover" title="仅勾选当前页"><input type="checkbox" class="checkall" value="1 0" /></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="13"></td>
					</tr>
				</tbody>
			</table>
			<div class="btn-group">
				<a class="btn btn-default edit"><i class="icon-pencil"></i>批量编辑</a>
				<a class="btn btn-default restart"><i class="icon-undo"></i>重启AP</a>
				<a class="btn btn-default upgrade"><i class="icon-upload-alt"></i>升级固件</a>
				<!--a class="btn btn-default download"><i class="icon-download-alt"></i>下载AP固件</a-->
				<a class="btn btn-default reset"><i class="icon-warning-sign"></i>恢复出厂配置</a>
				<a class="btn btn-default delete"><i class="icon-trash"></i>删除</a>
			</div>
			<div class="btn-group pull-right">
				<a class="btn btn-zx hidecol"><i class="icon-table"></i>显示/隐藏列</a>
			</div>
		</div>
	</div>
</div>
<!-- main End -->

<!-- modal Start -->
<!-- 编辑 -->
<div id="modal_edit" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">配置AP参数</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tabs_APConf_a" data-toggle="tab">AP参数</a>
						</li>
						<li class="dropdown">
							<a href="javascript:;" data-toggle="dropdown">Radio配置 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#tabs_APConf_b" data-toggle="tab">2G</a></li>
								<li><a href="#tabs_APConf_c" data-toggle="tab">5G</a></li>
							</ul>
						</li>
						<li>
							<a href="#tabs_APConf_d" data-toggle="tab">日志</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tabs_APConf_a">
							<fieldset>
								<legend>基本配置</legend>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__nick_name">AP描述名</label>
									<div class="col-xs-5">
										<input type="text" id="edit__nick_name" class="form-control" verify="name" />
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="只能包含中文、数字、字母、‘-’、‘.’ 和下划线，不允许空格。长度范围1~32个字符，不超过10个中文。"><i class="icon-question-sign"></i></span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__ip_distribute">地址获取</label>
									<div class="col-xs-5">
										<select id="edit__ip_distribute" class="form-control">
											<option value="static">静态配置</option>
											<option value="dhcp">DHCP分配</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__ip_address">IP地址</label>
									<div class="col-xs-5">
										<input type="text" id="edit__ip_address" class="form-control" verify="ip" />
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__netmask">掩码</label>
									<div class="col-xs-5">
										<input type="text" id="edit__netmask" class="form-control" verify="mask" />
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__gateway">网关</label>
									<div class="col-xs-5">
										<input type="text" id="edit__gateway" class="form-control" verify="ip" />
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__dns">DNS</label>
									<div class="col-xs-5">
										<input type="text" id="edit__dns" class="form-control" verify="dns" />
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入IP地址，以英文逗号分隔。如：8.8.8.8,114.114.114.114。"><i class="icon-question-sign"></i></span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__ac_host">控制器地址</label>
									<div class="col-xs-5">
										<input type="text" id="edit__ac_host" class="form-control" verify="ip" />
									</div>
								</div>
								<div class="form-group clearfix" style="display:none;">
									<label class="col-xs-4 control-label">控制器地址</label>
									<div class="col-xs-5">
										<div class="checkbox">
											<label><input type="checkbox" id="edit__remote_debug" value="1 0" />关闭远程调试接口</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" id="edit__light" value="1 0" />关闭AP的信号指示灯</label>
										</div>
										<div class="checkbox">
											<label><input type="checkbox" id="edit__dhcp_auto" value="1 0" />禁止AP自动切换成DHCP</label>
										</div>
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<legend>高级配置</legend>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__work_mode">工作模式</label>
									<div class="col-xs-5">
										<select id="edit__work_mode" class="form-control">
											<option selected="selected" value="hybrid">Hybrid</option>
											<option value="normal">Normal</option>
											<option value="monitor">Monitor</option>
										</select>
									</div>
								</div>
								<div class="mode_hybrid form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__hybrid_scan_cycle">信道扫描周期</label>
									<div class="col-xs-5">
										<input type="text" id="edit__hybrid_scan_cycle" class="form-control" value="30" verify="num 1 300" />
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~300。"><i class="icon-question-sign"></i></span>
									</div>
								</div>
								<div class="mode_hybrid form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__hybrid_scan_time">单信道扫描时间</label>
									<div class="col-xs-5">
										<input type="text" id="edit__hybrid_scan_time" class="form-control" value="60" verify="num 10 300" />
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="units">ms</span>
										<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字10~300。"><i class="icon-question-sign"></i></span>
									</div>
								</div>
								<div class="mode_monitor form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__monitor_scan_time">单信道扫描时间</label>
									<div class="col-xs-5">
										<input type="text" id="edit__monitor_scan_time" class="form-control" value="200" verify="num 10 300" />
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="units">ms</span>
										<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字10~300。"><i class="icon-question-sign"></i></span>
									</div>
								</div>
								<div class="mode_normal form-group clearfix">
									<label class="col-xs-4 control-label">信道扫描范围</label>
									<div class="col-xs-5">
										<div class="radio">
											<label><input type="radio" id="edit__scan_channels" name="edit__scan_channels" checked="checked" value="recommend" />推荐信道</label>
										</div>
										<div class="radio">
											<label><input type="radio" name="edit__scan_channels" value="country" />国家码对应信道</label>
										</div>
										<div class="radio">
											<label><input type="radio" name="edit__scan_channels" value="all" />所有信道</label>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="tab-pane" id="tabs_APConf_b">
							<fieldset>
								<legend>基本配置(2G)</legend>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_2g__switch">启用</label>
									<div class="col-xs-5">
										<div class="checkbox">
											<label><input type="checkbox" id="edit__radio_2g__switch" value="1 0" /></label>
										</div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_2g__wireless_protocol">无线协议</label>
									<div class="col-xs-5">
										<select id="edit__radio_2g__wireless_protocol" class="form-control">
											<option value="b">b</option>
											<option value="g">g</option>
											<option value="n">n</option>
											<option value="bg">bg</option>
											<option selected="selected" value="bgn">bgn</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_2g__bandwidth">信道带宽</label>
									<div class="col-xs-5">
										<select id="edit__radio_2g__bandwidth" class="form-control">
											<option selected="selected" value="auto">auto</option>
											<option value="20">20</option>
											<option value="40+">40+</option>
											<option value="40-">40-</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix channel_2g_big">
									<label class="col-xs-4 control-label" for="channel_2g_enable">工作信道批量调整</label>
									<div class="col-xs-5">
										<div class="checkbox">
											<label><input type="checkbox" id="channel_2g_enable" value="1 0" /><span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="批量操作时，勾选后才对工作信道下发配置生效。"><i class="icon-question-sign"></i></span></label>
										</div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_2g__channel_id">工作信道</label>
									<div class="col-xs-5">
										<select id="edit__radio_2g__channel_id" class="form-control">
											<option value="auto">auto</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_2g__power">功率</label>
									<div class="col-xs-5">
										<select id="edit__radio_2g__power" class="form-control">
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option selected="selected" value="23">23(default)</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="auto">auto</option>
										</select>
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="units">dBm</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_2g__users_limit">最大用户数</label>
									<div class="col-xs-5">
										<input type="text" id="edit__radio_2g__users_limit" class="form-control" value="30" verify="num 5 50" />
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字5~50。"><i class="icon-question-sign"></i></span>
									</div>
								</div>
							</fieldset>
							
							<fieldset class="form-ff">
								<legend>高级配置(2G)<span class="pull-right"><i class="icon-double-angle-down"></i></span></legend>
								<div class="form-hh">
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_2g__rts">RTS阈值</label>
										<div class="col-xs-5">
											<input type="text" id="edit__radio_2g__rts" class="form-control" value="2347" verify="num 1 2347" />
										</div>
										<div class="col-xs-3 tip-icons">
											<span class="units">Byte</span>
											<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~2347。"><i class="icon-question-sign"></i></span>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_2g__beacon">Beacon周期</label>
										<div class="col-xs-5">
											<input type="text" id="edit__radio_2g__beacon" class="form-control" value="100" verify="num 50 1000" />
										</div>
										<div class="col-xs-3 tip-icons">
											<span class="units">ms</span>
											<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字50~1000。"><i class="icon-question-sign"></i></span>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_2g__dtim">DTIM间隔</label>
										<div class="col-xs-5">
											<input type="text" id="edit__radio_2g__dtim" class="form-control" value="1" verify="num 1 100" />
										</div>
										<div class="col-xs-3 tip-icons">
											<span class="units">ms</span>
											<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~100。"><i class="icon-question-sign"></i></span>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label">前导码类型</label>
										<div class="col-xs-5">
											<div class="radio">
												<label><input type="radio" id="edit__radio_2g__leadcode" name="edit__radio_2g__leadcode" value="0" />长前导码</label>
											</div>
											<div class="radio">
												<label><input type="radio" name="edit__radio_2g__leadcode"  checked="checked" value="1" />短前导码</label>
											</div>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_2g__shortgi">启用Short GI</label>
										<div class="col-xs-5">
											<div class="checkbox">
												<label><input type="checkbox" id="edit__radio_2g__shortgi" value="1 0" /></label>
											</div>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_2g__remax">最大重传</label>
										<div class="col-xs-5">
											<input type="text" id="edit__radio_2g__remax" class="form-control" value="4" verify="num 1 10" />
										</div>
										<div class="col-xs-3 tip-icons">
											<span class="units">次</span>
											<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~10。"><i class="icon-question-sign"></i></span>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_2g__ampdu">启用A-MPDU</label>
										<div class="col-xs-5">
											<div class="checkbox">
												<label><input type="checkbox" id="edit__radio_2g__ampdu" value="1 0" /></label>
											</div>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_2g__amsdu">启用A-MSDU</label>
										<div class="col-xs-5">
											<div class="checkbox">
												<label><input type="checkbox" id="edit__radio_2g__amsdu" value="1 0" /></label>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="tab-pane" id="tabs_APConf_c">
							<fieldset>
								<legend>基本配置(5G)</legend>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_5g__switch">启用</label>
									<div class="col-xs-5">
										<div class="checkbox">
											<label><input type="checkbox" id="edit__radio_5g__switch" value="1 0" /></label>
										</div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_5g__wireless_protocol">无线协议</label>
									<div class="col-xs-5">
										<select id="edit__radio_5g__wireless_protocol" class="form-control">
											<option value="a">a</option>
											<option value="n">n</option>
											<option selected="selected" value="an">an</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_5g__bandwidth">信道带宽</label>
									<div class="col-xs-5">
										<select id="edit__radio_5g__bandwidth" class="form-control">
											<option selected="selected" value="auto">auto</option>
											<option value="20">20</option>
											<option value="40+">40+</option>
											<option value="40-">40-</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix channel_5g_big">
									<label class="col-xs-4 control-label" for="channel_5g_enable">工作信道批量调整</label>
									<div class="col-xs-5">
										<div class="checkbox">
											<label><input type="checkbox" id="channel_5g_enable" value="1 0" /><span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="批量操作时，勾选后才对工作信道下发配置生效。"><i class="icon-question-sign"></i></span></label>
										</div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_5g__channel_id">工作信道</label>
									<div class="col-xs-5">
										<select id="edit__radio_5g__channel_id" class="form-control">
											<option value="auto">auto</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_5g__power">功率</label>
									<div class="col-xs-5">
										<select id="edit__radio_5g__power" class="form-control">
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option selected="selected" value="23">23(default)</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="auto">auto</option>
										</select>
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="units">dBm</span>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="col-xs-4 control-label" for="edit__radio_5g__users_limit">最大用户数</label>
									<div class="col-xs-5">
										<input type="text" id="edit__radio_5g__users_limit" class="form-control" value="30" verify="num 5 100" />
									</div>
									<div class="col-xs-3 tip-icons">
										<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字5~100。"><i class="icon-question-sign"></i></span>
									</div>
								</div>
							</fieldset>
							
							<fieldset class="form-ff">
								<legend>高级配置(5G)<span class="pull-right"><i class="icon-double-angle-down"></i></span></legend>
								<div class="form-hh">
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_5g__rts">RTS阈值</label>
										<div class="col-xs-5">
											<input type="text" id="edit__radio_5g__rts" class="form-control" value="2347" verify="num 1 2347" />
										</div>
										<div class="col-xs-3 tip-icons">
											<span class="units">Byte</span>
											<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~2347。"><i class="icon-question-sign"></i></span>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_5g__beacon">Beacon周期</label>
										<div class="col-xs-5">
											<input type="text" id="edit__radio_5g__beacon" class="form-control" value="100" verify="num 50 1000" />
										</div>
										<div class="col-xs-3 tip-icons">
											<span class="units">ms</span>
											<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字50~1000。"><i class="icon-question-sign"></i></span>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_5g__dtim">DTIM间隔</label>
										<div class="col-xs-5">
											<input type="text" id="edit__radio_5g__dtim" class="form-control" value="1" verify="num 1 100" />
										</div>
										<div class="col-xs-3 tip-icons">
											<span class="units">ms</span>
											<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~100。"><i class="icon-question-sign"></i></span>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label">前导码类型</label>
										<div class="col-xs-5">
											<div class="radio">
												<label><input type="radio" id="edit__radio_5g__leadcode" name="edit__radio_5g__leadcode" value="0" />长前导码</label>
											</div>
											<div class="radio">
												<label><input type="radio" name="edit__radio_5g__leadcode"  checked="checked" value="1" />短前导码</label>
											</div>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_5g__shortgi">启用Short GI</label>
										<div class="col-xs-5">
											<div class="checkbox">
												<label><input type="checkbox" id="edit__radio_5g__shortgi" value="1 0" /></label>
											</div>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_5g__remax">最大重传</label>
										<div class="col-xs-5">
											<input type="text" id="edit__radio_5g__remax" class="form-control" value="4" verify="num 1 10" />
										</div>
										<div class="col-xs-3 tip-icons">
											<span class="units">次</span>
											<span class="icon-tip" data-toggle="tooltip" data-placement="bottom" title="输入数字1~10。"><i class="icon-question-sign"></i></span>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_5g__ampdu">启用A-MPDU</label>
										<div class="col-xs-5">
											<div class="checkbox">
												<label><input type="checkbox" id="edit__radio_5g__ampdu" value="1 0" /></label>
											</div>
										</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-xs-4 control-label" for="edit__radio_5g__amsdu">启用A-MSDU</label>
										<div class="col-xs-5">
											<div class="checkbox">
												<label><input type="checkbox" id="edit__radio_5g__amsdu" value="1 0" /></label>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="tab-pane" id="tabs_APConf_d">
							<fieldset>
								<legend>AP运行日志</legend>
								<div class="col-xs-12">
									<textarea id="LogRuntime" class="form-control" rows="12"></textarea>
								</div>
								<div class="col-xs-12" style="margin-top:10px;">
									<div class="btn-group">
										<a id="btn_exec_cmd" class="btn btn-default"><i class="icon-cloud-download"></i>获取日志</a>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="pull-right">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-zx" onclick="DoSave();">保存</button>
				</div>
				<div class="tip"></div>
			</div>
		</div>
	</div>
</div>

<!-- 邻居 -->
<div id="modal_naps" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">邻居AP</h4>
			</div>
			<div class="modal-body">
				<table id="table_naps" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<td>BSSID</td>
							<td>频段</td>
							<td>当前信道</td>
							<td>信号强度</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

<!-- 升级列表 -->
<div id="modal_upgrade" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">升级列表</h4>
			</div>
			<div class="modal-body">
				<table id="table_upgrade" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<td>已下载可升级固件</td>
							<td>未下载最新固件</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-zx" onclick="DoRefresh()">刷新</button>
				<button type="button" class="btn btn-warning" onclick="DoDown()">下载最新固件</button>
				<button type="button" class="btn btn-warning" onclick="DoUpgrade()">开始升级</button>
			</div>
		</div>
	</div>
</div>

<!-- 隐藏列 -->
<div id="modal_columns" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">显示/隐藏列</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group clearfix">
						<label class="col-xs-4 control-label"></label>
						<div class="col-xs-5">
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" disabled />序号</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />AP</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />描述</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />IP地址</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />当前用户数</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />Radio</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />邻居AP数</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />运行时间</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />上线时间</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />固件版本</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" />状态</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" disabled />操作</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="1 0" disabled />全选</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-zx" onclick="DoHidecolumns();">保存</button>
			</div>
		</div>
	</div>
</div>

<!-- 提示 -->
<div id="modal_tips" class="modal fade" tabindex=-1>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">
				<div class="modal-p">
					<span></span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-zx btn-modal">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- modal End -->
</body>
</html>
