<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<!--[if lte IE 9 ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>DHCP列表</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" href="../../css/font-awesome-ie7.min.css"><![endif]-->
<link rel="stylesheet" href="../../css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="../../css/manage.css" />
<script src="../../js/black/jquery-1.11.3.min.js"></script>
<script src="../../js/black/jquery.cookie.js"></script>
<script src="../../js/black/json2.js"></script>
<script src="../../js/black/bootstrap.min.js"></script>
<script src="../../js/black/jquery.dataTables.min.js"></script>
<script src="../../js/commin.js"></script>
<script src="../../js/dhcplease.js"></script>
</head>
<body>
<!-- header -->
<div id="header_ajax"></div>
<script src="../../js/black/header.ajax.js"></script>

<!-- main Start -->
<div id="main" class="main">
	<div class="container-fluid">
		<div class="main-wrapper clearfix">
			<table id="table_dhcp" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>序号</th>
						<th>主机名</th>
						<th>IPv4地址</th>
						<th>MAC地址</th>
						<th>租约剩余时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="5"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- main End -->

</body>
</html>